[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "climateStability"]
	path = climateStability
	url = https://github.com/hannahlowens/climatestability
[submodule "voluModel"]
	path = voluModel
	url = https://github.com/hannahlowens/volumodel
